/Source/Almirante.Engine/bin
/Source/Almirante.Engine/obj
/Source/Almirante.Entities/bin
/Source/Almirante.Entities/obj
/Source/Almirante.Pipeline/bin
/Source/Almirante.Pipeline/obj
/Source/Almirante.Tests/Tests.Entites/Tests.Entites/bin
/Source/Almirante.Tests/Tests.Entites/Tests.Entites/obj
/Source/Almirante.Tests/Tests.Entites/Tests.EntitesContent/bin
/Source/Almirante.Tests/Tests.Entites/Tests.EntitesContent/obj
/Source/Almirante.Tests/Tests.Entity/bin
/Source/Almirante.Tests/Tests.Entity/obj
/Source/Almirante.Tests/Tests.Fonts/Tests.Fonts/bin
/Source/Almirante.Tests/Tests.Fonts/Tests.Fonts/obj
/Source/Almirante.Tests/Tests.Fonts/Tests.FontsContent/bin
/Source/Almirante.Tests/Tests.Fonts/Tests.FontsContent/obj
/Source/Almirante.Tests/Tests.GUI/Tests.GUI/bin
/Source/Almirante.Tests/Tests.GUI/Tests.GUI/obj
/Source/Almirante.Tests/Tests.GUI/Tests.GUIContent/bin
/Source/Almirante.Tests/Tests.GUI/Tests.GUIContent/obj
/Source/Almirante.Tests/Tests.Inputs/Tests.Inputs/bin
/Source/Almirante.Tests/Tests.Inputs/Tests.Inputs/obj
/Source/Almirante.Tests/Tests.Inputs/Tests.InputsContent/bin
/Source/Almirante.Tests/Tests.Inputs/Tests.InputsContent/obj
/Source/Almirante.Tests/Tests.Resources/Tests.Resources/bin
/Source/Almirante.Tests/Tests.Resources/Tests.Resources/obj
/Source/Almirante.Tests/Tests.Resources/Tests.ResourcesContent/bin
/Source/Almirante.Tests/Tests.Resources/Tests.ResourcesContent/obj
/Source/Almirante.Tests/Tests.Scenes/Tests.Scenes/bin
/Source/Almirante.Tests/Tests.Scenes/Tests.Scenes/obj
/Source/Almirante.Tests/Tests.Scenes/Tests.ScenesContent/bin
/Source/Almirante.Tests/Tests.Scenes/Tests.ScenesContent/obj
/Source/Almirante.Tests/Tests.Tweener/Tests.Tweener/bin
/Source/Almirante.Tests/Tests.Tweener/Tests.Tweener/obj
/Source/Almirante.Tests/Tests.Tweener/Tests.TweenerContent/bin
/Source/Almirante.Tests/Tests.Tweener/Tests.TweenerContent/obj
/Source/Almirante.Tests/Tests.Windows/bin
/Source/Almirante.Tests/Tests.Windows/obj
/Builds/*.*
/Source/Almirante.Toolset/Almirante.Editor/bin
/Source/Almirante.Toolset/Almirante.Editor/obj
/Source/Almirante.Toolset/Almirante.Editor.Common/obj
/Source/Almirante.Toolset/Almirante.Editor.Common/bin
/Source/Almirante.Toolset/Almirante.Editor.Plugins/obj
/Source/Almirante.Toolset/Almirante.Editor.Plugins/bin

*.db
*.suo
*.suo
*.suo
*.cache